apiVersion: apps/v1
kind: Deployment
metadata:
  name: azodha-demo-api
  labels:
    app: azodha-demo-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: azodha-demo-api
  template:
    metadata:
      labels:
        app: azodha-demo-api
    spec:
      tolerations:
        - key: "CriticalAddonsOnly"
          operator: "Exists"
          effect: "NoSchedule"
      containers:
        - name: azodha-demo-api
          image: sasipreetham18/azodha-devops-assignment:latest
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          env:
            - name: ENV
              value: "prod"
---
apiVersion: v1
kind: Service
metadata:
  name: azodha-demo-api-svc
spec:
  type: NodePort
  selector:
    app: azodha-demo-api
  ports:
    - port: 80
      targetPort: 8000
      nodePort: 30081
